@page "/admin/blazor_audit"

@layout MainLayout
@inherits BlazorApp.CommonUI.PageModels.Admin.BlazorAuditPageModel

<h1>Blazor / .NET Core Middleware Audit Log</h1>
<p>
    This is an example of the .NET Core Middleware that logs all API calls into the database. We filter out "api/account" calls
    for Login / Logout / GetUser to keep it somewhat reasonable. This code can be easily modified to fit your needs. I think this is a great feature
    for you to track your user interactions and errors. For instance, if Bob logged in and filled out a form with erroneous data, it will log
    the error as well as the request data. Then you could easily look through this audit log and recreate his actions.
    Afterwards, you could add additional validation or handle the input in an appropriate manner.
</p>

@if (ApiLogItems == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>Loading ApI Log Data</label>
    </LoadingBackground>
}
else
{
    <MatTable Items="@ApiLogItems" Class="mat-elevation-z5" Striped="true" PageSize="10">
        <MatTableHeader>
            <th>
                <div style="width: 175px;">
                    <MatFAB Icon="refresh" OnClick="@(() => LoadDataAsync())" Raised="true" Mini="true" Style="margin-right: 16px;"></MatFAB>
                    Date / Time
                </div>
            </th>
            <th>
                Http Code
            </th>
            <th>
                IP Address
            </th>
            <th>
                Method
            </th>
            <th>
                Response Time
            </th>
            <th>
                <div style="width: 175px;">UserId</div>
            </th>
            <th>
                Path
            </th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                @context.RequestTime
            </td>
            <td>
                @context.StatusCode
            </td>
            <td>
                <span style="font-size: small">
                    @context.IpAddress
                </span>
            </td>
            <td>
                @context.Method
            </td>
            <td>
                @context.ResponseMillis
            </td>
            <td>
                @context.ApplicationUserId
            </td>
            <td>
                @context.Path
            </td>
        </MatTableRow>
    </MatTable>
}